<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Blog | Newsletter</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/newsletters.css">
    <link rel="stylesheet" href="/stylesheets/blogs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="./images/blog-icon.svg" type="image/x-icon">
</head>
<body>

<%- include('partials/header', {email: email}); %>

<div class="newsletter-container">
    <div class="first">
        <p>
            Newsletters
        </p>
    </div>
    <h2>
        Stories and interviews
    </h2>
    <div class="newsletter-description">
        <p>
            Subscribe to learn about new product features, the latest in technology, solutions, and updates.
        </p>
    </div>
    <div class="email-subscribe">
        <form method="POST" action="/newsletters">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
    <div class="policy">
        <p>
            We care about your data in our <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">
                privacy policy</a>
        </p>
    </div>
</div>
<section class="all-blogs container">
    <h3 class="recent-blogs-title">All blog posts</h3>
    <div class="all-blogs-grid">
        <% blogs.splice(0, 3).forEach((blog, index)=>{ %>
            <div class="all-blogs-card">
                <figure>
                    <img class="all-blogs-img" src="/images/thumbnails/normal/<%= index %>.png" alt="thumbnail">
                </figure>
                <div>
                    <p class="author-date-label"><%= blog.author %> • <%= blog.formatedDate %></p>
                </div>
                <a class="recent-blog-title-wrapper" href="/blogs/<%= blog.id %>">
                    <h3 class="all-blogs-card-title"><%= blog.title.slice(0, 20) %> </h3>

                    <img src="/images/arrow-up-right-light.svg" alt="arrow-up-right-light">
                </a>
                <p class="all-blogs-card-text"><%= blog.description.slice(0, 90) %> </p>
            </div>
        <% }) %>
    </div>
</section>


<%- include("partials/footer") %>

</body>
</html>